table {
    tr {
        border-bottom: 1px solid #F1F1F1;
        th {
            text-align: left;
            padding: 10px;
            border: 1px solid #F1F1F1;
        }
        td {
            padding: 10px;
            border: 1px solid #F1F1F1;
        }
    }
}